#homeFrame {
    height: 400;
    width: 780px;
    border: 1px solid;
    margin: 0 auto;
    padding: 3px;
    text-align: justify;
}
#slideFrame {
    height: 860px;
    width: 1000px;
    border: 1px solid;
    margin: 0 auto;
    padding: 3px;
}